# Node
node_modules/
npm-debug.log*

# React build
frontend/build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/

# Ignore all JSON files
*.json

# But keep these specific ones
!frontend/package.json
!frontend/package-lock.json
!backend/model/ghi_model.json

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.zip